DCH-aws-assets-eapi-main/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="aws-assets-eapi-main">
        <http:listener config-ref="aws-assets-eapi-listener-config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="aws-assets-eapi-config" doc:id="fabf8e34-8e4a-4605-854e-2c94af456ff2"/>
		<error-handler ref="global-exception-handler" />
    </flow>
    <flow name="aws-assets-eapi-console">
        <http:listener config-ref="aws-assets-eapi-listener-config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="aws-assets-eapi-config" doc:id="75940de2-8cde-4286-a585-e60d56f2bdd6"/>
		<error-handler ref="global-exception-handler" />
    </flow>
    <flow name="post:\assets:application\json:aws-assets-eapi-config">
        <flow-ref doc:name="Update Url Flow" doc:id="96bea41c-eba8-464b-bc64-851792f5842e" name="update-url-flow" />
    </flow>
    <flow name="get:\health:aws-assets-eapi-config">
		<flow-ref doc:name="Health Api Flow" doc:id="25203162-0436-4ea2-a0af-de7ba893009d" name="health-apiFlow"/>
    </flow>
</mule>
