DCH-aws-assets-eapi-main/src/main/mule/aws-assets-publish.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">
	<flow name="update-url-flow" doc:id="f9a032f1-5a95-4bd5-bba7-c4b9a4227aad" >
		<ee:transform doc:name="Logger Input Vars" doc:id="64a42d2c-62aa-4fe6-9070-24f6fff57efa">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="vFlowName"><![CDATA[%dw 2.0
output application/java
---
flow.name]]></ee:set-variable>
				<ee:set-variable variableName="correlationId"><![CDATA[output application/json
var correlationId=(aString) -> (aString)
---
if (attributes.headers.'X-Correlation-Id' != "") 
	correlationId(attributes.headers.'X-Correlation-Id')
else
	correlationId]]></ee:set-variable>
				<ee:set-variable variableName="appName"><![CDATA[%dw 2.0
output application/java
---
app.name]]></ee:set-variable>
					<ee:set-variable variableName="tomail"><![CDATA[%dw 2.0
output application/java
---
p('error.notify.tomail')]]></ee:set-variable>
					<ee:set-variable variableName="sub"><![CDATA[%dw 2.0
output application/java
---
p('error.notify.sub')]]></ee:set-variable>
					<ee:set-variable variableName="flag"><![CDATA[%dw 2.0
output application/java
---
p('error.notify.flag')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Entry Logger Flow" doc:id="4d4c1672-c376-4f1d-8b39-6422d8e80f41" name="entry-logger-flow"/>
		<ee:transform doc:name="Convert to Json" doc:id="f0679789-4b14-4acb-8903-f48f49523687" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<until-successful maxRetries="5" doc:name="retry" doc:id="f5a19a3c-91f4-4002-baa2-8d0efa8a2478" >
			<anypoint-mq:publish doc:name="Publishing Payload to Aws Assets Queue" doc:id="fb71f3ca-2f7d-4bbf-8298-ba214c2f8001" destination="${amq.queue}" config-ref="anypoint_mq_config">
				<reconnect frequency="${retries.frequency}" count="${retries.attempts}" />
			</anypoint-mq:publish>
		</until-successful>
		<set-variable value="#[201]" doc:name="Http Status" doc:id="9ebf6b2a-7158-4b35-9000-a3eb319aa8fb" variableName="httpStatus"/>
		<ee:transform doc:name="Convert to Json" doc:id="7fa4451d-aa03-4557-b77a-d3270bdaef97" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "message" : "Message Enqueued"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Exit Logger Flow" doc:id="30c01ca4-132b-4118-bdc7-7beafc57e89e" name="exit-logger-flow"/>
	</flow>
</mule>
